@model Laboratorium_2.Models.Computer

@{
    ViewData["Title"] = "Edytuj Komputer";
}

<h2>Edytuj Komputer</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name">Nazwa</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Processor">Procesor</label>
        <input asp-for="Processor" class="form-control" />
        <span asp-validation-for="Processor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Memory">Pamięć RAM</label>
        <input asp-for="Memory" class="form-control" />
        <span asp-validation-for="Memory" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GraphicsCard">Karta Graficzna</label>
        <input asp-for="GraphicsCard" class="form-control" />
        <span asp-validation-for="GraphicsCard" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Manufacturer">Producent</label>
        <input asp-for="Manufacturer" class="form-control" />
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProductionDate">Data Produkcji</label>
        <input asp-for="ProductionDate" class="form-control" />
        <span asp-validation-for="ProductionDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
</form>
